
@font-face {
  font-family: Graphik;
  src: url('../../../public/assets/fonts/graphik-black.otf');
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  font-family: Graphik, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  overflow: hidden;
}

ul, h1, h2, h3, p, fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

p, textarea, input {
  font-family: Helvetica;
}

input, textarea {
  box-shadow: none;
}
